.masonry-list {
  position: relative;
  width: 100%;
}

.masonry-item-wrapper {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 6px;
  cursor: pointer;
  top: 0;
  left: 0;
}

.masonry-item-content {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
}

.masonry-item-content > .masonry-item-img {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.masonry-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Dark mode adjustments */
@media (prefers-color-scheme: dark) {
  .masonry-item-content {
    box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.5);
  }
}

.dark .masonry-item-content {
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.5);
}
